@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-accent: #10B981;
}

body.dark {
  background-color: #1e293b;
  color: #e2e8f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}